In [2]:
!pip install wordcloud
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import fuzzywuzzy
import re
from collections import Counter

Requirement already satisfied: wordcloud in c:\users\ericl\anaconda3\lib\site-packages (1.5.0)
Requirement already satisfied: pillow in c:\users\ericl\anaconda3\lib\site-packages (from wordcloud) (5.4.1)
Requirement already satisfied: numpy>=1.6.1 in c:\users\ericl\anaconda3\lib\site-packages (from wordcloud) (1.16.2)

In [3]:
df = pd.read_csv("airplane_crashes_and_fatalities_since_1908.csv")

In [4]:
df.head(10)

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,03/05/1915,01:00,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,09/03/1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,07/28/1916,NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,09/24/1916,01:00,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,10/01/1916,23:45,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...

In [5]:
df.shape

(5268, 13)

In [6]:
df.dtypes

Date             object
Time             object
Location         object
Operator         object
Flight #         object
Route            object
Type             object
Registration     object
cn/In            object
Aboard          float64
Fatalities      float64
Ground          float64
Summary          object
dtype: object

In [7]:
#Clean up time 
df["Time"] = df["Time"].replace(np.nan, "Unknown") 
df["Time"] = df["Time"].str.replace("114:20:00", "Unknown")
df["Time"] = df["Time"].str.replace("18.40", "18:40")
df["Time"] = df["Time"].str.replace("0943", "09:43")
df["Time"] = df["Time"].str.replace("12\'20", "12:20")
df["Time"] = df["Time"].str.replace("22\'08", "22:08")
df["Time"] = df["Time"].str.replace("c: ", "")
df["Time"] = df["Time"].str.replace("c:", "")
df["Time"] = df["Time"].str.replace("c", "")

#Match upper/lower case formats
df = df.applymap(lambda s:s.upper() if type(s) == str else s)

#Create new columns for month, day, year, hour, and minute
    
df['Date']=pd.to_datetime(df['Date'])
df['Day'] = df['Date'].map(lambda x: x.day)
df['Year'] = df['Date'].map(lambda x: x.year)
df['Month'] = df['Date'].map(lambda x: x.month)

df

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,Day,Year,Month
0,1908-09-17,17:18,"FORT MYER, VIRGINIA",MILITARY - U.S. ARMY,NaN,DEMONSTRATION,WRIGHT FLYER III,NaN,1,2.0,1.0,0.0,"DURING A DEMONSTRATION FLIGHT, A U.S. ARMY FLY...",17,1908,9
1,1912-07-12,06:30,"ATLANTICITY, NEW JERSEY",MILITARY - U.S. NAVY,NaN,TEST FLIGHT,DIRIGIBLE,NaN,NaN,5.0,5.0,0.0,FIRST U.S. DIRIGIBLE AKRON EXPLODED JUST OFFSH...,12,1912,7
2,1913-08-06,UNKNOWN,"VICTORIA, BRITISH COLUMBIA, CANADA",PRIVATE,-,NaN,CURTISS SEAPLANE,NaN,NaN,1.0,1.0,0.0,THE FIRST FATAL AIRPLANE ACCIDENT IN CANADA OC...,6,1913,8
3,1913-09-09,18:30,OVER THE NORTH SEA,MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-1 (AIRSHIP),NaN,NaN,20.0,14.0,0.0,THE AIRSHIP FLEW INTO A THUNDERSTORM AND ENCOU...,9,1913,9
4,1913-10-17,10:30,"NEAR JOHANNISTHAL, GERMANY",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-2 (AIRSHIP),NaN,NaN,30.0,30.0,0.0,HYDROGEN GAS WHICH WAS BEING VENTED WAS SUCKED...,17,1913,10
5,1915-03-05,01:00,"TIENEN, BELGIUM",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-8 (AIRSHIP),NaN,NaN,41.0,21.0,0.0,CRASHED INTO TREES WHILE ATTEMPTING TO LAND AF...,5,1915,3
6,1915-09-03,15:20,"OFF CUXHAVEN, GERMANY",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-10 (AIRSHIP),NaN,NaN,19.0,19.0,0.0,"EXPLODED AND BURNED NEAR NEUWERK ISLAND, WHEN...",3,1915,9
7,1916-07-28,UNKNOWN,"NEAR JAMBOL, BULGERIA",MILITARY - GERMAN ARMY,NaN,NaN,SCHUTTE-LANZ S-L-10 (AIRSHIP),NaN,NaN,20.0,20.0,0.0,"CRASHED NEAR THE BLACK SEA, CAUSE UNKNOWN.",28,1916,7
8,1916-09-24,01:00,"BILLERICAY, ENGLAND",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-32 (AIRSHIP),NaN,NaN,22.0,22.0,0.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING IN FLAMES.,24,1916,9
9,1916-10-01,23:45,"POTTERS BAR, ENGLAND",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-31 (AIRSHIP),NaN,NaN,19.0,19.0,0.0,SHOT DOWN IN FLAMES BY THE BRITISH 39TH HOME D...,1,1916,10
10,1916-11-21,UNKNOWN,"MAINZ, GERMANY",MILITARY - GERMAN ARMY,NaN,NaN,SUPER ZEPPELIN (AIRSHIP),NaN,NaN,28.0,27.0,0.0,CRASHED IN A STORM.,21,1916,11
11,1916-11-28,23:45,"OFF WEST HARTLEPOOL, ENGLAND",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-34 (AIRSHIP),NaN,NaN,20.0,20.0,0.0,SHOT DOWN BY BRITISH ANTI-AIRCRAFT FIRE AND AI...,28,1916,11
12,1917-03-04,UNKNOWN,"NEAR GENT, BELGIUM",MILITARY - GERMAN ARMY,NaN,NaN,AIRSHIP,NaN,NaN,20.0,20.0,0.0,CAUGHT FIRE AND CRASHED.,4,1917,3
13,1917-03-30,UNKNOWN,OFF NORTHERN GERMANY,MILITARY - GERMAN NAVY,NaN,NaN,SCHUTTE-LANZ S-L-9 (AIRSHIP),NaN,NaN,23.0,23.0,0.0,STRUCK BY LIGHTNING AND CRASHED INTO THE BALTI...,30,1917,3
14,1917-05-14,05:15,"NEAR TEXEL ISLAND, NORTH SEA",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-22 (AIRSHIP),NaN,NaN,21.0,21.0,0.0,"CRASHED INTO THE SEA FROM AN ALTITUDE OF 3,000...",14,1917,5
15,1917-06-14,08:45,"OFF VLIELAND ISLAND, NORTH SEA",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-43 (AIRSHIP),NaN,NaN,24.0,24.0,0.0,SHOT DOWN BY BRITISH AIRCRAFT.,14,1917,6
16,1917-08-21,07:00,OFF WESTERN DENMARK,MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-23 (AIRSHIP),NaN,NaN,18.0,18.0,0.0,SHOT DOWN BY BRITISH AIRCRAFT.,21,1917,8
17,1917-10-20,07:45,"NEAR LUNEVILLE, FRANCE",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-44 (AIRSHIP),NaN,NaN,18.0,18.0,0.0,SHOT DOWN BY FRENCH ANTI-AIRCRAFT FIRE.,20,1917,10
18,1918-04-07,21:30,OVER THE MEDITERRANEAN,MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-59 (AIRSHIP),NaN,NaN,23.0,23.0,0.0,EXPLODED AND CRASHED INTO THE SEA OFF THE SOUT...,7,1918,4
19,1918-05-10,UNKNOWN,"OFF HELGOLAND ISLAND, GERMANY",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-70 (AIRSHIP),NaN,NaN,22.0,22.0,0.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING FROM A ...,10,1918,5
20,1918-08-11,10:00,"AMELAND ISLAND, NORTH SEA",MILITARY - GERMAN NAVY,NaN,NaN,ZEPPELIN L-53 (AIRSHIP),NaN,NaN,19.0,19.0,0.0,SHOT DOWN BY BRITISH AIRCRAFT.,11,1918,8
21,1918-12-16,UNKNOWN,"ELIZABETH, NEW JERSEY",US AERIAL MAIL SERVICE,NaN,NaN,DE HAVILLAND DH-4,97,NaN,1.0,1.0,0.0,NaN,16,1918,12
22,1919-05-25,UNKNOWN,"CLEVELAND, OHIO",US AERIAL MAIL SERVICE,NaN,NaN,DE HAVILLAND DH-4,61,NaN,1.0,1.0,0.0,CAUGHT FIRE IN MIDAIR. THE PILOT LEAPED FROM T...,25,1919,5
23,1919-07-19,UNKNOWN,"DIX RUN, PENNSYLVANIA",US AERIAL MAIL SERVICE,NaN,NaN,DE HAVILLAND DH-4,82,NaN,1.0,1.0,0.0,NaN,19,1919,7
24,1919-10-02,UNKNOWN,"NEWCASTLE, ENGLAND",AIRCRAFT TRANSPORT AND TRAVEL,NaN,NaN,DE HAVILLAND DH-4,NaN,NaN,1.0,1.0,0.0,NaN,2,1919,10
25,1919-10-14,UNKNOWN,"CANTONSVILLE, MARYLAND",US AERIAL MAIL SERVICE,NaN,NaN,CURTISS R-4LM,32,NaN,1.0,1.0,0.0,NaN,14,1919,10
26,1919-10-20,UNKNOWN,ENGLISH CHANNEL,AIRCRAFT TRANSPORT AND TRAVEL,NaN,NaN,DE HAVILLAND DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN,20,1919,10
27,1919-10-30,UNKNOWN,"LONG VALLEY, NEW JERSEY",US AERIAL MAIL SERVICE,NaN,NaN,DE HAVILLAND DH.4,77,NaN,1.0,1.0,0.0,NaN,30,1919,10
28,1920-03-10,UNKNOWN,"NEW PARIS, INDIANA",US AERIAL MAIL SERVICE,NaN,NaN,DE HAVILLAND DH-4,65,NaN,1.0,1.0,0.0,NaN,10,1920,3
29,1920-03-30,UNKNOWN,"NEWARK, NEW JERSEY",US AERIAL MAIL SERVICE,NaN,NaN,DE HAVILLAND DH-4,72,NaN,1.0,1.0,0.0,NaN,30,1920,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,2008-11-13,11:35,"FALLUJAH, IRAQ",FALCON AVIATION GROUP,NaN,AL-ASAD AIR BASE - BAGHDAD,ANTONOV AN-12,S9-SAO,346908,7.0,7.0,0.0,"THE CARGO PLANE, CHARTERED BY FEDEX, CRASHED W...",13,2008,11
5239,2008-11-16,10:32,"THORMANBY ISLAND, BRITISH COLUMBIA, CANADA",PACIFICOASTAL AIRLINES,NaN,VANCOUVER - POWELL RIVER - TOBA INLET,GRUMMAN G-21A GOOSE,C-FPCK,1187,8.0,7.0,0.0,THE CHARTER AIRCRAFT CRASHED INTO A STEEP HILL...,16,2008,11
5240,2008-11-27,17:00,"OFF PERPIGNAN, FRANCE",XL AIRWAYS LEASED FROM AIR NEW ZEALAND,NaN,TRAINING,AIRBUS A320-232,D-AXLA,2500,7.0,7.0,0.0,THE AIRBUS A320 WAS LEASED BY XL AIRWAYS OF GE...,27,2008,11
5241,2008-12-03,12:13,"SAN JUAN, PUERTO RICO",WEBSTAS AVIATION SERVICES INC.,NaN,"TORTOLA VIRGIN ISLANDS - SAN JUAN, PR",ROCKWELL INTERNATIONAL 690B,N318WA,11444,3.0,3.0,0.0,THE PLANE STRUCK THE SIDE OF EL YUNQUE MOUNTAI...,3,2008,12
5242,2008-12-11,06:25,"OFF SABINE PASS, TEXAS",ROTORCRAFT LEASING CO,NaN,SABINE PASS - OIL PLATFORM,BELL 206-L4 JET RANGER III,N180AL,52104,3.0,3.0,0.0,THE HELICOPTER FERRYING WORKERS TO AN OFF SHOR...,11,2008,12
5243,2008-12-15,16:40,OFF TURKS AND CAICOS ISLANDS,ALANTIS AVIATION,NaN,"SANTIAGO, DOMINICAN REPUBLI- PROVIDENCIALES",BRITTEN NORMAN BN-2A TRISLANDER MK3,N650LP,1029,12.0,12.0,0.0,THE CHARTER FLIGHT DISAPPEARED FROM RADAR 35 M...,15,2008,12
5244,2009-01-04,15:30,NEAR HOUMA LOUISIANA,PETROLEUM HELICOPTERS INC,NaN,BAYOU PENCHANT - OFF SHORE OIL FIELDS,SIKORSKY S-76C,N748P,760629,9.0,8.0,0.0,A HELICOPTER BOUND FOR OFFSHORE OIL FIELDS WEN...,4,2009,1
5245,2009-01-15,15:06,"NEW YORK, NEW YORK",US AIRWAYS,1549,"NEW YORK, NY- CHARLOTTE, NC",AIRBUS A320-214,N106US,1044,155.0,0.0,0.0,THE PLANE WAS TAKING OFF FROM LA GUARDIA AIRPO...,15,2009,1
5246,2009-02-07,14:00,"MANACAPURU, BRAZIL",AEROTAXI MANAUS,NaN,COARI - MANUS,BANDEIRANTE EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,THE PLANE WAS BEING USED AS AN AIR TAXI TO FER...,7,2009,2
5247,2009-02-07,06:30,"TRIGORIA, ITALY",AIR ONE EXECUTIVE,NaN,ROME - BOLOGNA,CESSNA 650 CITATION III,I-FEEV,650-0105,2.0,2.0,0.0,"THE PLANE, HEADING TO BOLOGNA TO PICK UP A MED...",7,2009,2
5248,2009-02-12,22:17,"CLARENCE CENTER, NEW YORK",CONTINENTAL CONNECTION/COLGAN AIR,3407,"NEWARK, N.J. - BUFFALO, NY",BOMBARDIER DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,THE COMMUTER PLANE CRASHED WHILE ATTEMPTIONG T...,12,2009,2
5249,2009-02-15,16:05,"CHANCO, CHILE",FLIGHT SERVICE,NaN,NaN,BELL UH-1H,NaN,NaN,13.0,13.0,0.0,THE HELICOPTER WAS CARRYING FIREMEN TO A NEARB...,15,2009,2
5250,2009-02-20,04:10,"LUXOR, EGYPT",AEROLIFT,NaN,"ENTEBBE, UGANDA - LUXOR, EGYPT - NIKLAEV, UKRAINE",ANTONOV 12V,S9-SVN,6344310,5.0,5.0,0.0,"WHILE ATTEMPING TO TAKE OFF FROM LUXOR, THE CA...",20,2009,2
5251,2009-02-25,10:31,"AMSTERDAM, NETHERLANDS",TURKISH AIRLINES,1951,"ISTANBUL, TURKEY - AMSTERDAM, NETHERLANDS",BOEING 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,THE PLANE WAS ON FINAL APPROACH TO RUNWAY 18R ...,25,2009,2
5252,2009-03-09,05:40,"LAKE VICTORIA, UGANDA",AEROLIFT,NaN,"ENTEBBE, UGANDA - MOGADISHU, SOMALIA",ILYUSHIN IL-76T,S9-SAB,073410301,11.0,11.0,0.0,THE CARGO PLANE CARRYING AND WATER PURIFICATIO...,9,2009,3
5253,2009-03-12,09:48,"OFF ST. JOHNS, NEWFOUNDLAND",COUGAR HELICOPTERS,NaN,ST. JOHNS - HIBERNIA PLATFORM,SIKORSKY S-92A,C-GZCH,920048,18.0,17.0,0.0,THE PILOT REPORTED A TECHNICAL MALFUNCTION AND...,12,2009,3
5254,2009-03-22,14:28,"BUTTE, MONTANA",EAGLE CAP LEASING,NaN,"OROVILLE, CA - BUTTE, MT",PILATUS PC-12/45,N128CM,403,14.0,14.0,0.0,THE PLANE CRASHED 500 FEET SHORT OF THE RUNWAY...,22,2009,3
5255,2009-03-23,06:48,"TOKYO, JAPAN",FEDEX,80,"GUANGZHOU, CHINA - TOKYO, JAPAN",MCDONNELL DOUGLAS MD-11,N526FE,48600/560,2.0,2.0,0.0,THE CARGO PLANE CRASHED AND BURST INTO FLAME A...,23,2009,3
5256,2009-04-01,14:00,"OFF CRIMOND, SCOTLAND",BOND OFFSHORE HELICOPTERS,NaN,MILLER FIELD - ABERDEEN,EUROCOPTER AS 332L2 SUPER PUMA 2,NaN,NaN,16.0,16.0,0.0,THE HELICOPTER CRASHED 35 MILES EAST OF CRIMON...,1,2009,4
5257,2009-04-06,12:30,"BANDUNG, INDONESIA",MILITARY - INDONESIAN AIR FORCE,NaN,MILITIARY TRAINING,FOKKER F-27 FRIENDSHIP 400M,A-2703,10538,24.0,24.0,0.0,WHILE RETURNING FROM A MILITARY TRAINING EXERC...,6,2009,4
5258,2009-04-09,07:00,"NEAR WAMENA, INDONESIA",AVIASTAR MANDIRI,NaN,JAYAPURA - WAMENA,BRITISH AEROSPACE BAE-146-300,PK-BRD,E3189,6.0,6.0,0.0,THE CARGO PLANE CRASHED INTO GUNUNG PIKE MOUNT...,9,2009,4
5259,2009-04-17,10:30,"MOUNT GERGAJI, INDONESIA",MIMIKA AIR,514,ILAGA - MULIA,PILATUS PC-6,PK-LTJ,959,11.0,11.0,0.0,THE PASSENGER PLANE CRASHED IN POOR WEATHER IN...,17,2009,4
5260,2009-04-17,15:32,"CANAIMA NATIONAL PARK, VENEZUELA",AEROTUY AIRLINE,NaN,CANAIMA - PORLAMAR,CESSNA 208B GRAND CARAVAN,YV-1181,208B-0695,11.0,1.0,0.0,"THE PLANE, CARRYING 9 TOURISTS, CRASHED 5 MILE...",17,2009,4
5261,2009-04-29,06:00,"MASSAMBA, DEMOCRATIREPUBLIOF CONGO",BAKO AIR,NaN,"BANGUI, CAR- BRAZZAVILLE, CONGO - HARARE, ZIMB...",BOEING B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,CRASHED WHILE EN ROUTE ON A FERRYING FLIGHT. T...,29,2009,4
5262,2009-05-03,12:00,"NEAR EL ALTO DE RUBIO, VENEZUELA",MILITARY - VENEZUELAN ARMY,NaN,PATROL,MI-35,EV08114,NaN,18.0,18.0,0.0,THE HELICOPTER WAS PATROLLING ALONG THE VENEZU...,3,2009,5
5263,2009-05-20,06:30,"NEAR MADIUN, INDONESIA",MILITARY - INDONESIAN AIR FORCE,NaN,JAKARTA - MADUIN,LOCKHEED C-130 HERCULES,A-1325,1982,112.0,98.0,2.0,"WHILE ON APPROACH, THE MILITARY TRANSPORT CRAS...",20,2009,5
5264,2009-05-26,UNKNOWN,"NEAR ISIRO, DEMOCRATIREPUBLICONGO",SERVICE AIR,NaN,GOMA - ISIRO,ANTONOV AN-26,9Q-CSA,5005,4.0,4.0,NaN,THE CARGO PLANE CRASHED WHILE ON APPROACH TO I...,26,2009,5
5265,2009-06-01,00:15,"ATLANTIOCEAN, 570 MILES NORTHEAST OF NATAL, BR...",AIR FRANCE,447,RIO DE JANEIRO - PARIS,AIRBUS A330-203,F-GZCP,660,228.0,228.0,0.0,THE AIRBUS WENT MISSING OVER THE ATLANTIOCEAN ...,1,2009,6
5266,2009-06-07,08:30,"NEAR PORT HOPE SIMPSON, NEWFOUNDLAND, CANADA",STRAIT AIR,NaN,LOURDES DE BLANSABLON - PORT HOPE SIMPSON,BRITTEN-NORMAN BN-2A-27 ISLANDER,C-FJJR,424,1.0,1.0,0.0,THE AIR AMBULANCE CRASHED INTO HILLS WHILE ATT...,7,2009,6
5267,2009-06-08,UNKNOWN,"STATE OF ARUNACHAL PRADESH, INDIA",MILITARY - INDIAN AIR FORCE,NaN,MECHUKA FOR JORHAT,ANTONOV AN-32,NaN,NaN,13.0,13.0,0.0,THE MILITARY TRANSPORT WENT MISSING WHILE EN R...,8,2009,6

In [8]:
df1 = df[['Date', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Aboard', 'Fatalities'])
df_nan = df1[pd.isnull(df1['Summary'])]
df_nan.head(10)

         Date                       Operator  Aboard  Fatalities Summary
21 1918-12-16         US AERIAL MAIL SERVICE     1.0         1.0     NaN
23 1919-07-19         US AERIAL MAIL SERVICE     1.0         1.0     NaN
24 1919-10-02  AIRCRAFT TRANSPORT AND TRAVEL     1.0         1.0     NaN
25 1919-10-14         US AERIAL MAIL SERVICE     1.0         1.0     NaN
27 1919-10-30         US AERIAL MAIL SERVICE     1.0         1.0     NaN
28 1920-03-10         US AERIAL MAIL SERVICE     1.0         1.0     NaN
29 1920-03-30         US AERIAL MAIL SERVICE     1.0         1.0     NaN
30 1920-04-10         US AERIAL MAIL SERVICE     2.0         1.0     NaN
31 1920-04-11         US AERIAL MAIL SERVICE     2.0         1.0     NaN
32 1920-05-12         US AERIAL MAIL SERVICE     2.0         1.0     NaN

In [9]:
df1 = df[['Date', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Aboard', 'Fatalities', 'Summary'])
df_unknown = df1[df1["Summary"].str.contains("UNKNOWN")]
df_unknown

,Date,Operator,Aboard,Fatalities,Summary
7,1916-07-28,MILITARY - GERMAN ARMY,20.0,20.0,"CRASHED NEAR THE BLACK SEA, CAUSE UNKNOWN."
362,1935-07-19,WEDELL-WILLIAMS AIR SERVICE CORPORATION,2.0,2.0,THE PLANE DEVIATED FROM ITS COURSE AND FLEW 20...
390,1936-04-07,TRANS CONTINENTAL AND WESTERN AIR,15.0,13.0,CRASHED INTO CHESTNUT RIDGE IN FOG. THE POOR ...
403,1936-08-05,CHICAGO SOUTHERN AIRLINES,8.0,8.0,CRASHED WHILE ATTEMPTING TO TAKE OFF FROM LAMB...
480,1938-07-29,PAN AMERICAN WORLD AIRWAYS,15.0,15.0,THE PLANE CRASHED INTO THE OCEAN WHILE EN ROUT...
566,1941-10-30,AMERICAN AIRLINES,20.0,20.0,"THE AIRCRAFT, ON A FLIGHT FROM NEW YORK TO CHI..."
568,1942-01-16,TRANS CONTINENTAL AND WESTERN AIR,22.0,22.0,THE AIRCRAFT CRASHED INTO MT. POTOSI (DOUBLE U...
591,1942-08-25,MILITARY - ROYAL AIR FORCE,14.0,13.0,THE PLANE CRASHED WHILE ON A FLIGHT TO ICELAND...
620,1943-07-28,AMERICAN AIRLINES,22.0,20.0,THE AIRCRAFT CRASHED INTO TREES WHILE ATTEMPTI...
667,1944-09-18,U. S. AIR FORCE,19.0,19.0,STRUCK THE SIDE OF A MOUNTAIN WHILE IN FULL FL...
709,1945-05-05,MILITARY - U.S. ARMY AIR FORCES,21.0,21.0,CRASHED INTO A HILL SHORTLY AFTER TAKING OFF F...
769,1946-03-19,MILITARY - U.S. ARMY AIR FORCES,26.0,26.0,THE AIRCRAFT LOST ITS RIGHT WING AND DISINTEGR...
799,1946-09-06,BRITISH SOUTH AMERICAN AIRWAYS,24.0,24.0,THE AIRCRAFT CRASHED SHORTLY AFTER TAKEOFF AFT...
827,1946-12-10,MILITARY - U.S. ARMY AIR FORCES,24.0,24.0,CRASHED 3 MILES SOUTHWEST OF ITAMI AIR BASE SH...
852,1947-02-15,MILITARY - CORRIERI AEREI MILITARI,16.0,16.0,DISAPPEARED AND CRASHED INTO THE OCEAN JUST OF...
893,1947-10-26,PAN AMERICAN WORLD AIRWAYS,18.0,18.0,THE AIRCRAFT CRASHED INTO TAMGAS MOUNTAIN AFTE...
908,1947-12-11,MILITARY - U.S. AIR FORCE,20.0,20.0,"AFTER PREPARING TO LAND, THE AIRCRAFT WENT INT..."
921,1948-01-30,BRITISH SOUTH AMERICAN AIRWAYS,31.0,31.0,THE AIRCRAFT RAN OUT OF FUEL AND CRASHED INTO ...
981,1948-12-28,AIRBORNE TRANSPORT,32.0,32.0,RADIO CONTACT WAS LOST AFTER THE CREW REPORTED...
1061,1950-06-05,WESTAIR TRANSPORT,65.0,28.0,DITCHED INTO THE ATLANTI300 MILES EAST OF MELB...
1062,1950-06-09,NEW TRIBES MISSION,15.0,15.0,CRASHED AND BURNED 19 MILES EAST NORTHEAST OF ...
1065,1950-06-23,NORTHWEST ORIENT AIRLINES,58.0,58.0,"EN ROUTE FROM NEW YORK TO MINNEAPOLIS, THE AIR..."
1096,1950-12-08,T.A. INTERCONTINENTAUX,56.0,46.0,CRASHED INTO A MOUNTAIN IN THE PYRENEES 5 MINU...
1116,1951-03-22,MILITARY - U.S. AIR FORCE,53.0,53.0,THE AIRCRAFT SUFFERED AN CATASTROPHIEXPLOSION ...
1121,1951-04-06,SOUTHWEST AIRWAYS,22.0,22.0,THE PLANE CRASHED INTO THE NORTH SLOPE OF SANT...
1175,1952-01-22,AMERICAN AIRLINES,23.0,23.0,THE AIRCRAFT CRASHED INTO AN APARTMENT HOUSE D...
1188,1952-03-22,KLM ROYAL DUTCH AIRLINES,47.0,44.0,CRASHED AND BURST INTO FLAMES TWO MILES SHORT ...
1189,1952-03-24,SOCIT ARIENNE DE TR. TROPICAUX,21.0,17.0,CRASHED AFTER TAKING OFF. PILOT FAILED TO MAIN...
1211,1952-08-21,AIRWORK,57.0,7.0,AFTER FAILURE OF ALL FOUR ENGINES THE PLANE DI...
1230,1952-12-06,CUBANA DE AVIACION,41.0,37.0,CRASHED DIVED INTO THE SEA APPROXIMATELY 5 MIL...
...,...,...,...,...,...
2596,1972-10-13,AEROFLOT,174.0,174.0,THE AIRCRAFT CRASHED AT THE OUTER MARKER WHILE...
2598,1972-10-16,PRIVATE,4.0,4.0,THE PLANE WAS ON A FLIGHT FROM ANCHORAGE TO JU...
2664,1973-07-22,PAN AMERICAN WORLD AIRWAYS,79.0,78.0,THE AIRCRAFT CRASHED 30 SECONDS AFTER TAKEOFF ...
2788,1974-12-26,HARBOR AIRLINES - AIR TAXI,6.0,4.0,THE AIRCRAFT CRASHED INTO A RESIDENTAL AREA WH...
2796,1975-01-13,CHANNEL FLYING SERVICE - AIR TAXI,5.0,5.0,THE AIRCRAFT DISAPPEARED AFTER ATTEMPTING TO R...
2844,1975-09-30,MALEV HUNGARIAN AIRLINES,60.0,60.0,THE AIRCRAFT CRASHED INTO THE MEDITERRANEAN SE...
2847,1975-10-23,CONNAIR,11.0,11.0,IMPROPER APPROACH DURING A STORM. CREW ERROR. ...
3023,1977-12-18,UNITED AIR LINES,3.0,3.0,WHILE IN A HOLDING PATTERN BECAUSE OF ELECTRIC...
3025,1977-12-21,KENN BOREK AIR,8.0,8.0,THE PILOT LOST CONTROL OF THE AIRCRAFT AND CRA...
3073,1978-09-09,AIR TAXI,6.0,6.0,THE PLANE CRASHED WHILE TAKING OFF AFTER ENGIN...
3197,1980-01-11,PRIVATE CHARTER,2.0,2.0,THE PLANE WAS ON A 45 MINUTE FIGHT FROM SHREVE...
3207,1980-03-14,MILITARY - U.S. AIR FORCE,18.0,18.0,CRASHED INTO HILLY TERRAIN AFTER THE LEFT WING...
3275,1981-03-27,GALENA AIR SERVICE - AIR TAXI,4.0,4.0,"LOST AN ENGINE DURING A GO AROUND, BEGAN TO CL..."
3293,1981-06-30,G & W AVIATION,5.0,5.0,THE AIRCRAFT EXPERIENCED ENGINE FAILURE ON TAK...
3321,1981-12-10,SPERNAK AIRWAYS - AIR TAXI,4.0,4.0,CRASHED INTO WATER DURING INITIAL CLIMB. PROBA...
3326,1981-12-31,SUN WEST AIRLINE - AIR TAXI,6.0,4.0,THE PILOT FAILED TO EXECUTE A SUCCESSFUL MISSE...
3406,1983-03-24,AIR TAXI,4.0,4.0,THE AIRCRAFT ENTERED A HIGH SPEED DIVE FOR REA...
3419,1983-06-02,AIR CANADA,46.0,23.0,THE PLANE WAS ON A FLIGHT FROM HOUSTON TO TORO...
3431,1983-08-11,AIR TAXI - NORTHERN AIR SERVICES INC.,2.0,2.0,THE AIRCRAFT COLLIDED WITH A POWER POLE AND TR...
3547,1985-04-13,AIR TAXI - EIDOARIE INC.,4.0,4.0,CRASHED ON A DARK NIGHT WHILE EN ROUTE TO SHRE...
3596,1985-12-12,ARROW AIRWAYS,256.0,256.0,THE AIRCRAFT STALLED AND CRASHED DURING TAKEOF...
3725,1987-11-28,SOUTH AFRICAN AIRWAYS,159.0,159.0,WHILE OVER THE INDIAN OCEAN THE CREW CONTACTED...
3732,1987-12-14,MILITARY - BRAZILIAN AIR FORCE,29.0,29.0,CRASHED INTO THE ATLANTIOCEAN WHILE EN ROUTE F...
3905,1989-11-28,NEW ENGLAND AIRLINES,8.0,8.0,CRASHED INTO THE SEA 4 MILES NORTHWEST OF THE ...
3963,1990-09-03,FRONTIER FLYING SERVICE,10.0,3.0,CRASHED AFTER LOOSING THE NO. 2 ENGINE.FAILURE...
4298,1994-11-16,AMERIFLIGHT,1.0,1.0,"WHILE EN ROUTE, THE CARGO PLANE MADE AN UNCONT..."
4433,1996-08-12,FIRST AIR,2.0,2.0,"AFTER TOUCHING DOWN, THE CARGO PLANE BOUNCED T..."
4887,2002-09-14,TOTAL AIR LINES,2.0,2.0,"ONE HOUR AFTER THE TAKEOFF , THE THE PLANE DI..."
4953,2003-10-03,AIR FREIGHT NEW ZEALAND,2.0,2.0,"WHILE AT CRUSING ALTITUDE, ONE HOUR AFTER TAKI..."
5136,2007-02-07,METRO AVIATION,3.0,3.0,CRASHED UNDER UNKNOWN CIRCUMSTANCES 15 MILES N...

In [10]:
df1 = df[['Date', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Aboard', 'Fatalities', 'Summary'])
df_weather = df1[df1["Summary"].str.contains("VISIBILITY")]
df_weather

,Date,Operator,Aboard,Fatalities,Summary
60,1922-04-07,DAIMLER AIRWAYS / GRANDS EXPRESS AERIENS,7.0,7.0,A MIDAIR COLLISION OCCURRED IN POOR VISIBILITY...
240,1931-05-24,NATIONAL AIR TRANSPORT,1.0,1.0,CRASHED INTO A MOUNTAIN AND BURNED IN POOR VIS...
241,1931-06-07,AIR ORIENT,4.0,4.0,CRASHED INTO A TREES AND FELL INTO A RIVER 50 ...
293,1933-01-20,AMERICAN AIRWAYS,1.0,1.0,THE PILOT OF THE MAIL PLANE LOST HIS BEARINGS ...
313,1933-12-11,DEUTSCHE LUFTHANSA,8.0,7.0,CRASHED AFTER STRIKING AN OBSTACLE WHILE LANDI...
335,1934-10-03,QANTAS,3.0,3.0,"CRASHED AFTER IN-FLIGHT LOSS OF CONTROL, POSSI..."
345,1934-12-22,AMERICAN AIRLINES,1.0,1.0,"CRASHED INTO BIG PILOT MOUNTAIN, 50 FEET FROM ..."
354,1935-05-06,TRANS CONTINENTAL AND WESTERN AIR,14.0,5.0,THE PLANE CRASHED WHILE EN ROUTE FROM ALBUQUER...
390,1936-04-07,TRANS CONTINENTAL AND WESTERN AIR,15.0,13.0,CRASHED INTO CHESTNUT RIDGE IN FOG. THE POOR ...
424,1936-12-27,UNITED AIR LINES,12.0,12.0,"WHILE ON APPROACH TO BURBANK AIRPORT, THE AIRL..."
444,1937-10-01,IMPERIAL AIRWAYS,14.0,2.0,CRASHED AS IT LANDED IN PHALERON BAY. TWO PASS...
446,1937-10-17,UNITED AIR LINES,19.0,19.0,THE PLANE CRASHED INTO THE SIDE OF A MOUNTAIN ...
495,1938-11-14,KLM ROYAL DUTCH AIRLINES,19.0,6.0,THE AIRCRAFT FLEW INTO THE GROUND DURING APPRO...
525,1939-08-30,DEUTSCHE LUFTHANSA,7.0,7.0,THE AIRCRAFT CRASHED WHILE TAKING OFF FROM HAN...
558,1941-08-10,MILITARY -ROYAL AIR FORCE,22.0,22.0,"CRASHED INTO A MOUNTAIN RIDGE IN RAIN, LOW VIS..."
591,1942-08-25,MILITARY - ROYAL AIR FORCE,14.0,13.0,THE PLANE CRASHED WHILE ON A FLIGHT TO ICELAND...
611,1943-03-27,MILITARY - ROYAL AUSTRALIAN AIR FORCE,24.0,24.0,"THE AIRCRAFT, TAKING OFF IN DARKNESS AND POOR ..."
695,1945-02-06,MILITARY -ROYAL AIR FORCE,23.0,23.0,STRUCK A MOUNTAIN WHILE FLYING IN LOW CLOUDS A...
743,1945-11-09,MILITARY - U.S. ARMY AIR FORCES,24.0,24.0,"THE PILOT RADIOED HE WAS LOST, SHORTLY BEFORE ..."
767,1946-03-17,MILITARY - CHINESE AIR FORCE,20.0,20.0,CRASHED INTO MOUNTAINOUS TERRAIN IN LOW VISIBI...
844,1947-01-25,SPENCER AIRWAYS / CESKOSLOVENSKE AEROLINIE,23.0,12.0,"JUST AFTER BECOMING AIRBORNE, THE PLANE NEVER ..."
906,1947-11-30,ALASKA AIRLINES,28.0,8.0,THE PLANE ATTEMPTED TO LAND AT BOEING FIELD BU...
910,1947-12-27,AIR INDIA,23.0,23.0,THE AIRCRAFT LOST CONTROL AND CRASHED JUST AFT...
913,1948-01-06,BRITISH EUROPEAN AIRWAYS,18.0,1.0,"AFTER TWO OR THREE FAILED APPROACHES, THE PLAN..."
930,1948-03-02,SABENA,22.0,20.0,THE PLANE CRASHED DURING A GROUND CONTROL APPR...
982,1948-12-31,PAN AFRICAN AIR CHARTER,12.0,12.0,CRASHED INTO MT. ARBETELLO IN POOR VISIBILITY....
1004,1949-05-04,AVIO LINEE ITALIANE,31.0,31.0,THE AIRCRAFT WAS RETURNING ON A FLIGHT FROM LI...
1086,1950-10-31,BRITISH EUROPEAN AIRWAYS,30.0,28.0,CRASHED IN FOG IN AN OVERSHOOT AFTER DECIDING ...
1118,1951-03-22,CRUZEIRO,14.0,3.0,THE NO. 2 ENGINE FAILED ON A GO-AROUND IN REDU...
1142,1951-07-24,SABENA,3.0,3.0,THE FAILURE OF THE RIGHT ENGINE DURING TAKEOFF...
...,...,...,...,...,...
4763,2001-01-14,SKYDIVE SALT LAKE - CHARTER,9.0,9.0,CRASHED INTO THE GREAT SALT LAKE WITH SKYDIVER...
4790,2001-07-05,PRIVATE - DAEWOO SHIPBUILDING,12.0,8.0,"AFTER SEVERAL DELAYS IN TAKING OFF, THE HELICO..."
4793,2001-07-30,AIR TAXI,6.0,6.0,THE SIGHTSEEING PLANE IMPACTED THE SIDE OF A M...
4798,2001-08-24,AMERISTAR JET CHARTER,2.0,2.0,SHORTLY AFTER TAKING OFF THE CARGO PLANE CRASH...
4810,2001-10-08,SCANDINAVIAN AIRLINES (SAS) / PRIVATE,114.0,114.0,THE AIRCRAFT WAS TAKING OFF FROM LINATE AIRPOR...
4828,2001-12-16,HELIANDES,16.0,16.0,THE AIRCRAFT CRASHED INTO EL SILENCIO DE EL MA...
4834,2002-01-14,IBERTRANS AREA,3.0,3.0,"WHILE DESCENDING, THE CARGO PLANE STRUCK MOUNT..."
4853,2002-04-18,AIR TAXI,6.0,6.0,CRASHED WHILE EN ROUTE. THE PILOT'S LIMITED EX...
4856,2002-04-28,PRIVATE,20.0,8.0,THE HELICOPTER STRUCK POWER LINES AND CRASHED ...
4860,2002-05-21,SKY EXECUTIVE AIR SERVICES,5.0,5.0,THE PLANE CRASHED APPROXIMATELY 12 MILES FROM ...
4892,2002-10-25,AVIATION CHARTER - AIR TAXI,8.0,8.0,THE PRIVATE CHARTER FLIGHT CRASHED AND BURNED ...
4904,2002-12-25,TELFORD AVIATION,1.0,1.0,"ON A POSITIONING FLIGHT, WHILE ON APPROACH, TH..."
4907,2003-01-08,TURKISH AIRLINES (THY),80.0,75.0,THE AIRCRAFT CRASHED AND BROKE-UP 130 FEET SHO...
4908,2003-01-08,US AIR EXPRESS/AIR MIDWEST,21.0,21.0,THE COMMUTER PLANE WAS NOT ABLE TO MAINTAIN AL...
4930,2003-06-22,BRIT AIR,24.0,1.0,THE AIRCRAFT CRASHED ONTO A ROAD AND CAUGHT FI...
4940,2003-07-19,RYAN BLAKE AIR CHARTER,14.0,14.0,THE PLANE CRASHED INTO THE EASTERN SLOPES OF M...
4980,2004-03-21,AIR AMBULANCE - MED-TRANS CORP.,5.0,4.0,THE HELICOPTER IMPACTED TERRAIN WHILE MANEUVER...
5004,2004-08-27,MAVRIK AIRE TRANSPORT,3.0,1.0,"THIRTY MINUTES AFTER DEPARTURE FROM MCGRATH, T..."
5020,2004-11-28,GLOW AIR/AIR CASTLE - CHARTER,6.0,3.0,"WHILE ATTEMPTING TO TAKE OFF FROM R31, THE AIR..."
5041,2005-03-15,LOGANAIR,2.0,2.0,"WHILE ON FINAL APPROACH, THE AIR AMBULANCE CRA..."
5096,2006-04-28,KING AIR CHARTER,3.0,3.0,THE CARGO FLIGHT ON BEHALF OF THE UNITED NATIO...
5097,2006-05-03,ARMAVIA,113.0,113.0,THE JETLINER CRASHED INTO THE BLACK SEA AND BR...
5108,2006-07-09,SIBIR (S7),203.0,128.0,THE PLANE WAS LANDING AT IRKUTSK INTERNATIONAL...
5111,2006-11-18,AEROSUCRE COLOMBIA,5.0,5.0,THE CARGO PLANE WAS ON FINAL APPROACH WHEN IT ...
5112,2006-08-04,AIRNOW,1.0,1.0,THE CARGO PLANE WAS FLYING TO BENNINGHAM FOR W...
5122,2006-10-19,MILITARY - RUSSIAN AIR FORCE/UZBEKISTAN AIRWAYS,15.0,15.0,THE PLANE BELONGING TO UZBEKISTAN AIRWAYS AND ...
5126,2006-12-14,PENAIR,2.0,2.0,THE CHARTER CRASHED IN HILLY TERRAIN ABOUT 18 ...
5141,2007-03-17,UTAIR AIRLINES,57.0,6.0,"WHILE ATTEMPTING TO LAND IN HEAVY FOG, THE AIR..."
5203,2008-05-24,ISLAND EXPRESS HELICOPTER SERVICE,6.0,4.0,THE TOUR HELICOPTER CRASHED NEAR BANNING HOUSE...
5237,2008-11-08,EAST AFRICAN AIR CHARTERS,5.0,4.0,"AFTER TAKING OFF, THE AIRCRAFT CLIMBED TO 12,5..."

In [11]:
df1 = df[['Date', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Aboard', 'Fatalities', 'Summary'])
df_weather = df1[df1["Summary"].str.contains("FOG")]
df_weather

,Date,Operator,Aboard,Fatalities,Summary
43,1920-12-14,HANDLEY PAGE TRANSPORT,8.0,4.0,CRASHED INTO A TREE ON TAKE OFF IN FOG.
132,1928-01-08,COLONIAL WESTERN AIRLINES,3.0,3.0,BECAME LOST IN DENSE FOG AND FLEW INTO THE GRO...
141,1928-04-19,IBERIA AIRLINES,9.0,9.0,CRASHED IN FOG.
150,1928-08-25,BRITISH COLUMBIA AIRWAYS,7.0,7.0,CRASHED INTO PUGET SOUND IN DENSE FOG. CONSID...
168,1928-12-31,CIDNA,3.0,2.0,CRASHED INTO HIGH GROUND IN FOG.
175,1929-03-30,NEW STANDARD AIRLINES,4.0,4.0,THE AIRCRAFT CRASHED INTO A HIGH MOUNTAIN RIDG...
198,1929-11-04,CORP. AERONAUTICA DE TRANSPORTES,4.0,4.0,THE MAIL PLANE CRASHED IN DENSE FOG.
199,1929-11-06,DEUTSCHE LUFTHANSA,8.0,7.0,CRASHED IN HEAVY RAIN AND FOG WHILE ATTEMPTING...
200,1929-11-15,AIR UNION,3.0,3.0,CRASHED INTO THE MEDITERRANEAN IN FOG.
201,1929-11-30,VARNEY AIR LINES,1.0,1.0,THE MAIL PLANE CRASHED INTO A FOG BOUND TOWER ...
206,1930-01-10,BOEING AIR TRANSPORT,1.0,1.0,THE AIRMAIL PLANE CRASH LANDED AND BURST INTO ...
213,1930-04-18,CANADIAN COLONIAL AIRWAYS,4.0,4.0,CRASHED INTO POWER LINES 150 FEET ABOVE THE GR...
217,1930-07-10,CROSS AIRWAYS,5.0,5.0,THE AIRCRAFT EXPLODED IN THE AIR AT AN ALTITUD...
218,1930-08-22,CESKOSLOVENSKE AEROLINIE,11.0,10.0,CRASHED WHILE THE PILOT ATTEMPTED TO MAKE AN ...
220,1930-09-25,WESTERN CANADA AIRWAYS,3.0,3.0,THE AIR MAIL PLANE CRASHED IN FOG WHILE EN RO...
225,1930-10-30,IMPERIAL AIRWAYS,6.0,3.0,CRASHED INTO HIGH GROUND IN FOG AFTER LOSING A...
231,1931-01-22,VARNEY AIR LINES,1.0,1.0,THE MAIL PLANE FLEW INTO BLUFF MOUNTAIN IN DEN...
233,1931-02-20,WESTERN CANADA AIRWAYS,3.0,2.0,"THE PLANE CARRYING MAIL, CRASHED INTO A FIELD,..."
238,1931-05-05,PACIFIAIR TRANSPORT,2.0,2.0,THE MAIL PLANE CRASHED INTO LAS TUNAS CANYON W...
243,1931-06-13,DEUTSCHE LUFTHANSA,4.0,4.0,"AFTER CIRCLING IN FOG FOR HALF AN HOUR, THE PL..."
256,1931-11-24,CHINA NATIONAL AVIATION CORPORATION,3.0,3.0,CRASHED INTO CHINGSHAN MOUNTAIN RANGE 10 MILES...
257,1931-11-26,VARNEY AIR LINES,1.0,1.0,CRASHED IN FOG WHILE ATTEMPTING TO LAND.
261,1931-12-31,AMERICAN AIRWAYS,5.0,4.0,"UNDER ORDERS FROM HIS SUPERVISOR, THE PILOT TO..."
262,1932-01-21,NORTHWEST AIRWAYS,1.0,1.0,CRASHED IN HEAVY FOG A FEW MINUTES AFTER TAKIN...
269,1932-03-19,AMERICAN AIRWAYS,7.0,7.0,CRASHED INTO AN ORCHARD AFTER STRIKING POWER L...
275,1932-05-16,PACIFIAIR TRANSPORT,3.0,3.0,CRASHED AND BURNED IN FOG WHILE ATTEMPTING TO...
285,1932-11-02,DEUTSCHE LUFTHANSA,5.0,5.0,CRASHED INTO MOUNTAINOUS TERRAIN IN THE SPESSA...
302,1933-05-09,AEROPOSTALE - LA TECOERE COMPANY,6.0,6.0,CRASHED WHILE LANDING IN FOG.
308,1933-11-09,UNITED AIR LINES,9.0,4.0,CRASHED IN A THICKLY WOODED AREA UPON TAKING O...
310,1933-11-20,CHINA NATIONAL AVIATION CORPORATION,8.0,8.0,CRASHED INTO THE CHINGSHAN MOUNTAIN RANGE IN FOG.
...,...,...,...,...,...
4893,2002-11-06,LUXAIR,22.0,20.0,THE PLANE CRASHED 6 MILES SHORT OF THE RUNWAY ...
4907,2003-01-08,TURKISH AIRLINES (THY),80.0,75.0,THE AIRCRAFT CRASHED AND BROKE-UP 130 FEET SHO...
4912,2003-01-31,EURO ASIA AVIATION,6.0,6.0,THE CARGO PLANE STRUCK GROUND 2 KM SHORT OF TH...
4923,2003-05-26,UKRANIAN-MEDITERRANEAN AIRLINES,75.0,75.0,THE PLANE STRUCK THE SIDE OF A STEEP MOUNTAIN ...
4927,2003-06-06,CHARTER - AIR ADVENTURES NEW ZEALAND LTD,10.0,8.0,THE AIRCRAFT CRASHED SHORT OF THE RUNWAY IN FO...
4951,2003-09-27,LES AILES DE GASP INC.,3.0,3.0,CASHED AS IT APPROACHED GASP IN FOG AND LOW C...
4968,2004-01-13,UZBEKISTAN AIRWAYS,37.0,37.0,CRASHED WHILE ATTEMPTING TO LAND IN HEAVY FOG....
5004,2004-08-27,MAVRIK AIRE TRANSPORT,3.0,1.0,"THIRTY MINUTES AFTER DEPARTURE FROM MCGRATH, T..."
5009,2004-11-22,BUSINESS JET SERVICES,3.0,3.0,"WHILE ON FINAL APPROACH, THE AIRCRAFT STRUCK A..."
5016,2004-10-24,PRIVATE - HENDRICK MOTORSPORTS INC.,10.0,10.0,THE PLANE STRUCK A STEEP INCLINE IN THE BULL M...
5020,2004-11-28,GLOW AIR/AIR CASTLE - CHARTER,6.0,3.0,"WHILE ATTEMPTING TO TAKE OFF FROM R31, THE AIR..."
5028,2005-01-13,MILITARY - COLOMBIAN GOVERNMENT,20.0,20.0,THE HELICOPTER WAS ON A COUNTER-NARCOTICS MISS...
5042,2005-03-16,REGIONAL AIRLINES,52.0,28.0,"THE RUSSIAN TURBOPROP CARRYING OIL WORKERS, C..."
5100,2006-06-02,INTERNATIONAL JET CHARTER,5.0,2.0,A CHARTER JET REGISTERED TO RELIGIOUS BROADCAS...
5102,2006-06-08,AIR TAXI - MAJESTIALLIANCE,2.0,2.0,WHILE FOLLOWING A HIGHWAY THROUGH A MOUNTAIN P...
5111,2006-11-18,AEROSUCRE COLOMBIA,5.0,5.0,THE CARGO PLANE WAS ON FINAL APPROACH WHEN IT ...
5122,2006-10-19,MILITARY - RUSSIAN AIR FORCE/UZBEKISTAN AIRWAYS,15.0,15.0,THE PLANE BELONGING TO UZBEKISTAN AIRWAYS AND ...
5125,2006-12-10,AIR AMBULANCE - MERCY AIR SERVICES,3.0,3.0,THE AIR AMBULANCE CRASHED ON A REPOSITIONING F...
5130,2007-01-09,MOLDOVAN AERIANTUR-M AIR CARGO,35.0,34.0,THE CARGO PLANE CRASHED IN FOG WHILE ATTEMPTIN...
5141,2007-03-17,UTAIR AIRLINES,57.0,6.0,"WHILE ATTEMPTING TO LAND IN HEAVY FOG, THE AIR..."
5152,2007-06-16,NYIKA SAFARIS,6.0,6.0,THE SIGHTSEEING PLANE CRASHED IN FOG AND POOR ...
5170,2008-01-12,MILITARY - MACEDONIAN AIR FORCE,11.0,11.0,THE HELICOPTER CRASHED 15 MILES SOUTHEAST OF S...
5182,2007-12-09,FUN AIR,5.0,5.0,THE CHARTERED TWIN ENGINE PLANE CRASHED IN AN ...
5187,2008-01-19,GIRA GLOBO CHARTER,13.0,13.0,THE TWIN ENGINE PLANE CRASHED INTO MOUNTAINS I...
5208,2008-06-08,PHI AIR MEDICAL,4.0,4.0,THE MEDICAL HELICOPTER CRASHED INTO THE SAM HO...
5233,2008-09-27,MARYLAND STATE POLICE,5.0,4.0,THE MEDICAL HELICOPTER CARRYING VICTIMS OF A T...
5234,2008-10-08,YETI AIRLINES,19.0,18.0,"AS THE PASSENGER PLANE CAME IN FOR A LANDING, ..."
5241,2008-12-03,WEBSTAS AVIATION SERVICES INC.,3.0,3.0,THE PLANE STRUCK THE SIDE OF EL YUNQUE MOUNTAI...
5249,2009-02-15,FLIGHT SERVICE,13.0,13.0,THE HELICOPTER WAS CARRYING FIREMEN TO A NEARB...
5266,2009-06-07,STRAIT AIR,1.0,1.0,THE AIR AMBULANCE CRASHED INTO HILLS WHILE ATT...

In [12]:
df1 = df[['Date', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Aboard', 'Fatalities', 'Summary'])
df_weather = df1[df1["Summary"].str.contains("SEA")]
df_weather

,Date,Operator,Aboard,Fatalities,Summary
3,1913-09-09,MILITARY - GERMAN NAVY,20.0,14.0,THE AIRSHIP FLEW INTO A THUNDERSTORM AND ENCOU...
7,1916-07-28,MILITARY - GERMAN ARMY,20.0,20.0,"CRASHED NEAR THE BLACK SEA, CAUSE UNKNOWN."
11,1916-11-28,MILITARY - GERMAN NAVY,20.0,20.0,SHOT DOWN BY BRITISH ANTI-AIRCRAFT FIRE AND AI...
13,1917-03-30,MILITARY - GERMAN NAVY,23.0,23.0,STRUCK BY LIGHTNING AND CRASHED INTO THE BALTI...
14,1917-05-14,MILITARY - GERMAN NAVY,21.0,21.0,"CRASHED INTO THE SEA FROM AN ALTITUDE OF 3,000..."
18,1918-04-07,MILITARY - GERMAN NAVY,23.0,23.0,EXPLODED AND CRASHED INTO THE SEA OFF THE SOUT...
108,1926-10-21,IMPERIAL AIRWAYS,12.0,0.0,THE PLANE WAS ON A FLIGHT FROM LONDON TO PARIS...
163,1928-12-03,SYNDICATO CONDOR,14.0,14.0,THE SEAPLANE TOOK OFF FORM THE BAY AND NARROWL...
227,1930-11-07,SYNDICATO CONDOR,9.0,1.0,CRASHED INTO THE SEA.
336,1934-10-19,HOLYMAN AIRWAYS,11.0,11.0,CRASHED EN ROUTE DURING THE 265 MILES SEA ROUTE.
355,1935-05-18,KNOWLES FLYING SERVICE OF DETROIT,12.0,3.0,"WHILE ON A SIGHTSEEING TRIP, THE PLANE RAN OUT..."
371,1935-10-09,AERO O-Y,6.0,6.0,CRASHED INTO THE SEA IN THE FOG.
400,1936-07-31,GUERNSEY AIRWAYS,7.0,7.0,CRASHED INTO THE SEA.
427,1937-02-09,UNITED AIR LINES,11.0,11.0,"THE AIRCRAFT CRASHED INTO SAN FRANCISCO BAY, A..."
439,1937-08-08,CHINA NATIONAL AVIATION CORPORATION,11.0,3.0,FORCED TO DITCH INTO THE SEA DUE TO BAD WEATHE...
457,1938-02-02,MILITARY - U.S. NAVY / MILITARY - U.S. NAVY,14.0,11.0,THE TWO AIRCRAFT CRASHED IN MID-AIR IN HEAVY R...
476,1938-07-14,ALA LITTORIA,20.0,20.0,THE FLYING BOAT CRASHED INTO THE TYRRHENIAN SE...
486,1938-08-18,MACCHI,13.0,13.0,THE SEA PLANE CRASHED SHORTLY AFTER TAKING OFF.
499,1938-11-29,UNITED AIR LINES,7.0,7.0,THE AIRCRAFT RAN OUT OF FUEL AND DITCHED INTO ...
500,1938-12-08,JAPAN AVIATION CORPORATION,12.0,10.0,CRASHED INTO THE SEA NEAR OKINAWA DUE TO ENGIN...
505,1939-01-13,SYNDICATO CONDOR,9.0,9.0,THE SEAPLANE CRASHED IN FLAMES IN MOUNTAINS NO...
508,1939-02-24,DEUTSCHE LUFTHANSA,10.0,10.0,CRASHED INTO THE MEDITERRANEAN SEA.
523,1939-08-15,BRITISH AIRWAYS,6.0,5.0,CRASHED INTO THE SEA AFTER A FIRE ABOARD.
525,1939-08-30,DEUTSCHE LUFTHANSA,7.0,7.0,THE AIRCRAFT CRASHED WHILE TAKING OFF FROM HAN...
529,1939-12-21,IMPERIAL AIRWAYS,11.0,5.0,CRASHED INTO THE SEA.
554,1941-03-01,DEUTSCHE LUFTHANSA,12.0,3.0,THE SEAPLANE CRASHED WHILE ATTEMPING TO LAND.
572,1942-01-30,QANTAS,18.0,13.0,SHOT DOWN BY JAPANESE MILITARY AIRCRAFT. OWNED...
582,1942-05-01,UNITED AIR LINES,17.0,17.0,"AFTER TAKING OFF FROM SALT LAKE, THE AIRCRAFT ..."
612,1943-04-22,QANTAS,13.0,13.0,STALLED AND CRASHED IN POOR WEATHER INTO THE W...
649,1944-05-27,CHINA NATIONAL AVIATION CORPORATION,14.0,14.0,CRASHED AT SEA IN POOR WEATHER CONDITIONS.
...,...,...,...,...,...
4809,2001-10-04,SIBIR AIRLINES,78.0,78.0,"THE AIRCRAFT EXPLODED IN MID-AIR AT 36,000 FT...."
4811,2001-10-08,AIR SAINT MAURICE INC.,7.0,3.0,THE SEAPLANE CRASHED INTO MOLLET LAKE WHILE AT...
4845,2002-02-22,MILITARY - U.S. ARMY,10.0,10.0,A HELICOPTER FERRYING U.S. TROOPS IN A COUNTER...
4861,2002-05-25,CHINA AIRLINES (TAIWAN),225.0,225.0,"THE FLIGHT CRASHED INTO THE SEA, 31 MILES NE O..."
4871,2002-07-12,"AIR TAXI - BIGFOOT AIR OF ALASKA, LLC",4.0,4.0,THE COMMERCIAL PILOT OF THE FLOAT-EQUIPPED AIR...
4873,2002-07-16,BRISTOW HELICOPTERS,11.0,11.0,THE HELICOPTER WAS FERRYING WORKERS FROM A GAS...
4917,2003-02-20,MILITARY - PAKISTAN AIR FORCE,17.0,17.0,THE PLANE CRASHED INTO A MOUNTAINSIDE IN A REM...
4936,2003-07-05,BHS - BRAZILIAN HELICOPTER SERVICES,5.0,5.0,THE HELICOPTER WAS LANDING ON THE HELIDECK OF...
4967,2004-01-03,FLASH AIR,148.0,148.0,"SHORTLY AFTER TAKING OFF, THE AIRCRAFT CRASHE..."
4991,2004-06-08,GABON EXPRESS,30.0,19.0,THE AIRCRAFT NOSEDIVED INTO THE SEA ABOUT 100 ...
4996,2004-07-22,BHS - BRAZILIAN HELICOPTER SERVICE AIR TAXI,11.0,6.0,"DURING THE APPROACH TO P-31 OIL RIG, AT AN ALT..."
5006,2004-09-11,MILITARY - GREEK ARMY,17.0,17.0,"THE HELICOPTER CRASHED INTO THE AEGEAN SEA, 5...."
5039,2005-02-22,INDONESIAN NATIONAL POLICE,18.0,15.0,"ON FINAL APPROACH, THE AIRCRAFT CRASHED INTO T..."
5041,2005-03-15,LOGANAIR,2.0,2.0,"WHILE ON FINAL APPROACH, THE AIR AMBULANCE CRA..."
5058,2005-08-06,TUNINTER,39.0,16.0,THE AIRCRAFT DEVELOPED ENGINE TROUBLE WHILE EN...
5059,2005-08-10,COPTERLINE,14.0,14.0,THE HELICOPTER CRASHED AT SEA ABOUT 3 MILES OF...
5076,2005-12-19,CHALK'S OCEAN AIRWAYS,20.0,20.0,THE SEAPLANE CRASHED OFF MIAMI BEACH NEXT TO A...
5077,2005-12-23,AZERBAIJAN AIRLINES,23.0,23.0,THE PLANE CRASHED ALONG THE SHORE OF THE CASPI...
5097,2006-05-03,ARMAVIA,113.0,113.0,THE JETLINER CRASHED INTO THE BLACK SEA AND BR...
5099,2006-05-23,AIR SO TOM,4.0,4.0,THE AIRCRAFT DISAPPEARED FROM RADAR SCREENS WH...
5106,2006-07-02,HIMMELSSCHREIBER,6.0,5.0,THE SINGLE-ENGINE SIGHTSEEING SEAPLANE CAME DO...
5164,2007-08-09,AIR MOOREA,20.0,20.0,SOON AFTER TAKING OFF THE PLANE BEGAN LOOSING ...
5180,2007-12-03,"EVERGREEN ALASKA HELICOPTERS, INC.",4.0,4.0,CRASHED INTO THE SEA WHILE EN ROUTE. THE PILOT...
5183,2008-01-04,TRANSAVEN,18.0,18.0,THE COMMUTER AIRLINER CRASHED INTO THE SEA WHI...
5185,2008-01-14,APLINE AVIATION,1.0,1.0,THE CARGO PLANE WAS CARRYING MAIL WHEN IT CRAS...
5191,2008-02-26,BHS - BRAZILIAN HELICOPTER SERVICE AIR TAXI,20.0,5.0,LESS THAN HALF MINUTE AFTER THE TAKING-OFF FRO...
5209,2008-06-10,SUDAN AIRWAYS,214.0,32.0,"WHILE LANDING IN POOR WEATHER, THE PLANE SKIDD..."
5230,2008-09-03,AEROGULF,7.0,7.0,"WHILE ATTEMPTING TO TAKE OFF, THE HELICOPTER S..."
5240,2008-11-27,XL AIRWAYS LEASED FROM AIR NEW ZEALAND,7.0,7.0,THE AIRBUS A320 WAS LEASED BY XL AIRWAYS OF GE...
5256,2009-04-01,BOND OFFSHORE HELICOPTERS,16.0,16.0,THE HELICOPTER CRASHED 35 MILES EAST OF CRIMON...

In [13]:
df1 = df[['Date', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Aboard', 'Fatalities', 'Summary'])
df_weather = df1[df1["Summary"].str.contains("LAND")]
df_weather

,Date,Operator,Aboard,Fatalities,Summary
3,1913-09-09,MILITARY - GERMAN NAVY,20.0,14.0,THE AIRSHIP FLEW INTO A THUNDERSTORM AND ENCOU...
5,1915-03-05,MILITARY - GERMAN NAVY,41.0,21.0,CRASHED INTO TREES WHILE ATTEMPTING TO LAND AF...
6,1915-09-03,MILITARY - GERMAN NAVY,19.0,19.0,"EXPLODED AND BURNED NEAR NEUWERK ISLAND, WHEN..."
40,1920-10-05,LATECOERE AIRLINES,2.0,2.0,CRASHED WHILE LANDING.
60,1922-04-07,DAIMLER AIRWAYS / GRANDS EXPRESS AERIENS,7.0,7.0,A MIDAIR COLLISION OCCURRED IN POOR VISIBILITY...
88,1924-12-24,IMPERIAL AIRWAYS,8.0,8.0,"SHORTLY AFTER TAKING OFF, WITNESSES OBSERVED A..."
106,1926-09-26,NaN,5.0,2.0,TOO MUCH WEIGHT CAUSED THE LANDING GEAR TO COL...
113,1927-03-24,QANTAS,3.0,3.0,STALLED AT LOW ALTITIUDE ON APPROACH TO LAND
119,1927-08-22,KLM ROYAL DUTCH AIRLINES,11.0,1.0,A BROKEN WIRE LED TO THE PARTIAL LOSS OF THE T...
170,1929-01-18,VARNEY AIR LINES,1.0,1.0,WHILE ATTEMPTING TO MAKE AN EMERGENCY LANDING ...
183,1929-06-29,AERO LLOYD,5.0,5.0,THE AIRCRAFT CRASHED INTO LAKE CONSTANCE WHILE...
191,1929-09-06,IMPERIAL AIRWAYS,5.0,3.0,THE MAIL PLANE CAUGHT FIRE AFTER CRASH LANDING.
193,1929-09-17,PICKWICK AIRWAYS,2.0,1.0,THE MAIL PLANE CRASHED INTO A HILLSIDE IN THE ...
199,1929-11-06,DEUTSCHE LUFTHANSA,8.0,7.0,CRASHED IN HEAVY RAIN AND FOG WHILE ATTEMPTING...
204,1929-12-19,DEUTSCHE LUFTHANSA,3.0,2.0,FORCED LANDING 40 MILES FROM BERLIN.
206,1930-01-10,BOEING AIR TRANSPORT,1.0,1.0,THE AIRMAIL PLANE CRASH LANDED AND BURST INTO ...
210,1930-01-27,CENTRAL AIRLINES,5.0,5.0,"WHILE PREPARING TO LAND, THE PLANE SIDE SLIPPE..."
211,1930-02-03,COLONIAL AIR TRANSPORT,1.0,1.0,WHILE ATTEMPTING TO LAND THE PLANE STRUCK A BU...
216,1930-07-07,DEUTSCHE LUFTHANSA,8.0,5.0,THE FLYING BOAT LANDED IN A STORM IN THE OPEN ...
218,1930-08-22,CESKOSLOVENSKE AEROLINIE,11.0,10.0,CRASHED WHILE THE PILOT ATTEMPTED TO MAKE AN ...
221,1930-10-05,MILITARY - BRITISH AIR MINISTRY,54.0,48.0,THE AIRSHIP WAS ON ITS INAUGURAL FLIGHT FROM C...
222,1930-10-06,DEUTSCHE LUFTHANSA,8.0,8.0,CRASHED INTO HILL WHILE ATTEMPTING TO LAND.
238,1931-05-05,PACIFIAIR TRANSPORT,2.0,2.0,THE MAIL PLANE CRASHED INTO LAS TUNAS CANYON W...
241,1931-06-07,AIR ORIENT,4.0,4.0,CRASHED INTO A TREES AND FELL INTO A RIVER 50 ...
242,1931-06-11,RUBNER FLYING SERVICE,3.0,2.0,A WING BUCKLED AS THE PLANE WAS ATTEMPTING TO ...
249,1931-09-14,CHICAGO-DETROIT AIRWAYS,1.0,1.0,CRASHED IN A SEVERE RAINSTORM WHILE ATTEMPTING...
250,1931-09-16,PACIFIAIR TRANSPORT,4.0,4.0,CRASHED INTO SAN FRANCISCO BAY SHORTLY AFTER T...
253,1931-11-05,"NY, PHIL., WASHINGTON AW",5.0,5.0,CRASHED ONTO A GOLF COURSE AND BURST INTO FLA...
255,1931-11-23,BOEING AIR TRANSPORT,1.0,1.0,THE MAIL PLANE CRASHED 8 MILES WEST OF SALT LA...
257,1931-11-26,VARNEY AIR LINES,1.0,1.0,CRASHED IN FOG WHILE ATTEMPTING TO LAND.
...,...,...,...,...,...
5194,2008-04-03,BLUE WING AIRLINES,19.0,19.0,WHILE ATTEMPTING TO LAND THE CREW ABORTED THE ...
5196,2008-04-11,KATA TRANSPORTATION,8.0,8.0,JUST MINUTES AFTER THE TAKE OFF THE PLANE TRIE...
5199,2008-04-28,NAFTOGAZ,20.0,20.0,THE HELICOPTER CRASHED AFTER THE TAIL SECTION ...
5200,2008-05-02,SOUTHERN SUDAN AIR CONNECTION,24.0,24.0,THE PILOT RADIOED A CONTROL TOWER IN THE CITY ...
5201,2008-05-17,CHELAN AIR SERVICE,5.0,2.0,THE FLOAT PLANE FLIPPED AND CRASHED AS IT ATTE...
5204,2008-05-26,MOSKOVIA AIRLINES,9.0,9.0,THE CREW OF THE CARGO PLANE REPORTED A FIRE SH...
5206,2008-05-30,TACA INTERNATIONAL AIRLINES,136.0,3.0,AFTER MAKING A MISSED APPROACH AND DURING THE ...
5209,2008-06-10,SUDAN AIRWAYS,214.0,32.0,"WHILE LANDING IN POOR WEATHER, THE PLANE SKIDD..."
5211,2008-06-20,MILITARY - THAI ARMY,10.0,10.0,THE MILITARY HELICOPTER DEVELOPED A MECHANICAL...
5216,2008-07-06,USA JET AIRLINES,2.0,1.0,"WHILE ATTEMPTING TO LAND, THE CARGO PLANE, LOA..."
5219,2008-07-31,EAST COAST JETS,8.0,8.0,"WHILE ATTEMPTING TO LAND ON RUNWAY 30, THE BUS..."
5220,2008-08-03,PACIFICOAST AIRLINES,7.0,5.0,THE PLANE CRASHED IN A REMOTE MOUNTANOUS REGIO...
5225,2008-08-24,AREO RUTA MAYA,14.0,11.0,THE PLANE LOST ENGINE POWER AND THE CREW ATTEM...
5228,2008-09-01,AIR SERV INTERNATIIONAL/CEMAIR,17.0,17.0,"THE PLANE, ON A HUMANITARIAN FLIGHT TO GOMA, C..."
5231,2008-09-14,AEROFLOT,88.0,88.0,THE AIRCRAFT CRASHED INTO A RAVINE ADJACENT TO...
5234,2008-10-08,YETI AIRLINES,19.0,18.0,"AS THE PASSENGER PLANE CAME IN FOR A LANDING, ..."
5236,2008-11-04,MEXICAN GOVERNMENT,8.0,8.0,"MEXICAN INTERIOR MINISTER JUAN CAMILO MOURINO,..."
5239,2008-11-16,PACIFICOASTAL AIRLINES,8.0,7.0,THE CHARTER AIRCRAFT CRASHED INTO A STEEP HILL...
5240,2008-11-27,XL AIRWAYS LEASED FROM AIR NEW ZEALAND,7.0,7.0,THE AIRBUS A320 WAS LEASED BY XL AIRWAYS OF GE...
5245,2009-01-15,US AIRWAYS,155.0,0.0,THE PLANE WAS TAKING OFF FROM LA GUARDIA AIRPO...
5246,2009-02-07,AEROTAXI MANAUS,28.0,24.0,THE PLANE WAS BEING USED AS AN AIR TAXI TO FER...
5248,2009-02-12,CONTINENTAL CONNECTION/COLGAN AIR,49.0,49.0,THE COMMUTER PLANE CRASHED WHILE ATTEMPTIONG T...
5251,2009-02-25,TURKISH AIRLINES,134.0,9.0,THE PLANE WAS ON FINAL APPROACH TO RUNWAY 18R ...
5253,2009-03-12,COUGAR HELICOPTERS,18.0,17.0,THE PILOT REPORTED A TECHNICAL MALFUNCTION AND...
5254,2009-03-22,EAGLE CAP LEASING,14.0,14.0,THE PLANE CRASHED 500 FEET SHORT OF THE RUNWAY...
5255,2009-03-23,FEDEX,2.0,2.0,THE CARGO PLANE CRASHED AND BURST INTO FLAME A...
5257,2009-04-06,MILITARY - INDONESIAN AIR FORCE,24.0,24.0,WHILE RETURNING FROM A MILITARY TRAINING EXERC...
5258,2009-04-09,AVIASTAR MANDIRI,6.0,6.0,THE CARGO PLANE CRASHED INTO GUNUNG PIKE MOUNT...
5259,2009-04-17,MIMIKA AIR,11.0,11.0,THE PASSENGER PLANE CRASHED IN POOR WEATHER IN...
5266,2009-06-07,STRAIT AIR,1.0,1.0,THE AIR AMBULANCE CRASHED INTO HILLS WHILE ATT...

# Esketit

In [14]:
df1 = df[['Year', 'Operator', 'Aboard', 'Fatalities', 'Summary']].dropna(subset=['Operator', 'Aboard', 'Fatalities', 'Summary'])
df1.head(100)

,Year,Operator,Aboard,Fatalities,Summary
0,1908,MILITARY - U.S. ARMY,2.0,1.0,"DURING A DEMONSTRATION FLIGHT, A U.S. ARMY FLY..."
1,1912,MILITARY - U.S. NAVY,5.0,5.0,FIRST U.S. DIRIGIBLE AKRON EXPLODED JUST OFFSH...
2,1913,PRIVATE,1.0,1.0,THE FIRST FATAL AIRPLANE ACCIDENT IN CANADA OC...
3,1913,MILITARY - GERMAN NAVY,20.0,14.0,THE AIRSHIP FLEW INTO A THUNDERSTORM AND ENCOU...
4,1913,MILITARY - GERMAN NAVY,30.0,30.0,HYDROGEN GAS WHICH WAS BEING VENTED WAS SUCKED...
5,1915,MILITARY - GERMAN NAVY,41.0,21.0,CRASHED INTO TREES WHILE ATTEMPTING TO LAND AF...
6,1915,MILITARY - GERMAN NAVY,19.0,19.0,"EXPLODED AND BURNED NEAR NEUWERK ISLAND, WHEN..."
7,1916,MILITARY - GERMAN ARMY,20.0,20.0,"CRASHED NEAR THE BLACK SEA, CAUSE UNKNOWN."
8,1916,MILITARY - GERMAN NAVY,22.0,22.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING IN FLAMES.
9,1916,MILITARY - GERMAN NAVY,19.0,19.0,SHOT DOWN IN FLAMES BY THE BRITISH 39TH HOME D...
10,1916,MILITARY - GERMAN ARMY,28.0,27.0,CRASHED IN A STORM.
11,1916,MILITARY - GERMAN NAVY,20.0,20.0,SHOT DOWN BY BRITISH ANTI-AIRCRAFT FIRE AND AI...
12,1917,MILITARY - GERMAN ARMY,20.0,20.0,CAUGHT FIRE AND CRASHED.
13,1917,MILITARY - GERMAN NAVY,23.0,23.0,STRUCK BY LIGHTNING AND CRASHED INTO THE BALTI...
14,1917,MILITARY - GERMAN NAVY,21.0,21.0,"CRASHED INTO THE SEA FROM AN ALTITUDE OF 3,000..."
15,1917,MILITARY - GERMAN NAVY,24.0,24.0,SHOT DOWN BY BRITISH AIRCRAFT.
16,1917,MILITARY - GERMAN NAVY,18.0,18.0,SHOT DOWN BY BRITISH AIRCRAFT.
17,1917,MILITARY - GERMAN NAVY,18.0,18.0,SHOT DOWN BY FRENCH ANTI-AIRCRAFT FIRE.
18,1918,MILITARY - GERMAN NAVY,23.0,23.0,EXPLODED AND CRASHED INTO THE SEA OFF THE SOUT...
19,1918,MILITARY - GERMAN NAVY,22.0,22.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING FROM A ...
20,1918,MILITARY - GERMAN NAVY,19.0,19.0,SHOT DOWN BY BRITISH AIRCRAFT.
22,1919,US AERIAL MAIL SERVICE,1.0,1.0,CAUGHT FIRE IN MIDAIR. THE PILOT LEAPED FROM T...
40,1920,LATECOERE AIRLINES,2.0,2.0,CRASHED WHILE LANDING.
43,1920,HANDLEY PAGE TRANSPORT,8.0,4.0,CRASHED INTO A TREE ON TAKE OFF IN FOG.
55,1921,MILITARY - ROYAL AIRSHIP WORKS,46.0,46.0,CRASHED DUE TO STRUCTURAL FAILURE FOLLOWED BY ...
56,1921,FRANCO-ROUMAINE,5.0,5.0,CRASHED WHILE MAKING AN APPROACH TO LE BOURGET...
58,1922,HANDLEY PAGE TRANSPORT,5.0,5.0,CRASHED AT LE BOURGET FIELD.
59,1922,MILITARY - U.S. ARMY AIR SERVICE,45.0,34.0,CRASHED FROM A HEIGHT OF 500 FT. AFTER EXPERIE...
60,1922,DAIMLER AIRWAYS / GRANDS EXPRESS AERIENS,7.0,7.0,A MIDAIR COLLISION OCCURRED IN POOR VISIBILITY...
80,1923,MILITARY - FRENCH NAVY,52.0,52.0,"CRASHED WHILE ON A FLIGHT FROM TOULON, FRANCE ..."
...,...,...,...,...,...
176,1929,MADDUX AIRLINES / MILITARY - U.S.ARMY AIR FORCE,6.0,6.0,A MIDAIR COLLISION OCCURRED WITH A US AIR FOR...
179,1929,PAN AMERICAN AIRWAYS,5.0,2.0,CRASHED WHILE TAKING OFF. THE MUDDY FIELD PREV...
181,1929,IMPERIAL AIRWAYS,13.0,7.0,THE PLANE WAS OVER THE ENGLISH CHANNEL WHEN AN...
182,1929,NORTHWEST ORIENT AIRLINES,8.0,1.0,CRASHED NEAR INDIAN MOUNDS PARK SHORTLY AFTER ...
183,1929,AERO LLOYD,5.0,5.0,THE AIRCRAFT CRASHED INTO LAKE CONSTANCE WHILE...
188,1929,DEUTSCHE LUFTHANSA,5.0,4.0,WEATHER RELATED.
189,1929,ASSOCIATED AVIATORS,2.0,1.0,THE PLANE CRASHED AFTER GOING INTO A TAIL SPIN...
190,1929,TRANS CONTINENTAL AIR TRANSPORT,8.0,8.0,CRASHED IN A THUNDERSTORM AFTER BEING STRUCK B...
191,1929,IMPERIAL AIRWAYS,5.0,3.0,THE MAIL PLANE CAUGHT FIRE AFTER CRASH LANDING.
192,1929,AEROPOSTALE,5.0,5.0,CRASHED INTO THE MEDITERRANEAN.
193,1929,PICKWICK AIRWAYS,2.0,1.0,THE MAIL PLANE CRASHED INTO A HILLSIDE IN THE ...
194,1929,COLONIAL AIR TRANSPORT,1.0,1.0,THE MAIL PLANE CRASHED INTO MT. LAMENTATION AN...
195,1929,IMPERIAL AIRWAYS,7.0,7.0,THE AIRCRAFT DITCHED IN THE OCEAN AFTER ENCOUN...
196,1929,CONTINENTAL AIR LINES,1.0,1.0,THE MAIL PLANE CRASHED INTO A GROVE OF TREES 8...
197,1929,BREMERTON-SEATTLE AIR TAXI / GORST AIR LINES,2.0,2.0,THE AIR TAXI CRASHED INTO PUGET SOUND AS IT AT...
198,1929,CORP. AERONAUTICA DE TRANSPORTES,4.0,4.0,THE MAIL PLANE CRASHED IN DENSE FOG.
199,1929,DEUTSCHE LUFTHANSA,8.0,7.0,CRASHED IN HEAVY RAIN AND FOG WHILE ATTEMPTING...
200,1929,AIR UNION,3.0,3.0,CRASHED INTO THE MEDITERRANEAN IN FOG.
201,1929,VARNEY AIR LINES,1.0,1.0,THE MAIL PLANE CRASHED INTO A FOG BOUND TOWER ...
202,1929,NATIONAL AIR TRANSPORT,1.0,1.0,THE MAIL PLANE CRASHED EN ROUTE DURING A STORM.
204,1929,DEUTSCHE LUFTHANSA,3.0,2.0,FORCED LANDING 40 MILES FROM BERLIN.
205,1929,TRANS CONTINENTAL AIR TRANSPORT,5.0,5.0,CRASHED ON APPROACH ONTO A GOLF COURSE.
206,1930,BOEING AIR TRANSPORT,1.0,1.0,THE AIRMAIL PLANE CRASH LANDED AND BURST INTO ...
208,1930,MADDUX AIRLINES,16.0,16.0,"WHILE EN ROUTE TO LOS ANGELES, THE PILOT, FLYI..."
210,1930,CENTRAL AIRLINES,5.0,5.0,"WHILE PREPARING TO LAND, THE PLANE SIDE SLIPPE..."
211,1930,COLONIAL AIR TRANSPORT,1.0,1.0,WHILE ATTEMPTING TO LAND THE PLANE STRUCK A BU...
213,1930,CANADIAN COLONIAL AIRWAYS,4.0,4.0,CRASHED INTO POWER LINES 150 FEET ABOVE THE GR...
215,1930,COLONIAL AIR TRANSPORT,15.0,1.0,CRASHED INTO BOSTON HARBOR AFTER LOOSING THE R...
216,1930,DEUTSCHE LUFTHANSA,8.0,5.0,THE FLYING BOAT LANDED IN A STORM IN THE OPEN ...
217,1930,CROSS AIRWAYS,5.0,5.0,THE AIRCRAFT EXPLODED IN THE AIR AT AN ALTITUD...

Look for crashes in dataframe

In [15]:
df_military = df1[df1["Operator"].str.contains("MILITARY")]
df_military.head(10)

,Year,Operator,Aboard,Fatalities,Summary
0,1908,MILITARY - U.S. ARMY,2.0,1.0,"DURING A DEMONSTRATION FLIGHT, A U.S. ARMY FLY..."
1,1912,MILITARY - U.S. NAVY,5.0,5.0,FIRST U.S. DIRIGIBLE AKRON EXPLODED JUST OFFSH...
3,1913,MILITARY - GERMAN NAVY,20.0,14.0,THE AIRSHIP FLEW INTO A THUNDERSTORM AND ENCOU...
4,1913,MILITARY - GERMAN NAVY,30.0,30.0,HYDROGEN GAS WHICH WAS BEING VENTED WAS SUCKED...
5,1915,MILITARY - GERMAN NAVY,41.0,21.0,CRASHED INTO TREES WHILE ATTEMPTING TO LAND AF...
6,1915,MILITARY - GERMAN NAVY,19.0,19.0,"EXPLODED AND BURNED NEAR NEUWERK ISLAND, WHEN..."
7,1916,MILITARY - GERMAN ARMY,20.0,20.0,"CRASHED NEAR THE BLACK SEA, CAUSE UNKNOWN."
8,1916,MILITARY - GERMAN NAVY,22.0,22.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING IN FLAMES.
9,1916,MILITARY - GERMAN NAVY,19.0,19.0,SHOT DOWN IN FLAMES BY THE BRITISH 39TH HOME D...
10,1916,MILITARY - GERMAN ARMY,28.0,27.0,CRASHED IN A STORM.

In [16]:
year = df_military["Year"]
year.head(10)

0     1908
1     1912
3     1913
4     1913
5     1915
6     1915
7     1916
8     1916
9     1916
10    1916
Name: Year, dtype: int64

In [17]:
m_fatalities_count = df_military.groupby(["Year"])['Fatalities'].sum()
m_fatalities_count.head(5)

Year
1908      1.0
1912      5.0
1913     44.0
1915     40.0
1916    108.0
Name: Fatalities, dtype: float64

In [18]:
m_totals_count = df_military.groupby(["Year"])['Aboard'].sum()
m_totals_count.head(5)

Year
1908      2.0
1912      5.0
1913     50.0
1915     60.0
1916    109.0
Name: Aboard, dtype: float64

In [19]:
m_fatality_rate = fatalities_count / totals_count
m_fatality_rate.head(20)

NameError: name 'fatalities_count' is not defined

In [ ]:
df2_military = pd.DataFrame({
    "Fatalities": m_fatalities_count,
    "Total Passengers": m_totals_count,
    "Fatality Rate": m_fatality_rate})

df2_military.head(15)

In [ ]:
df2_military = pd.DataFrame({
    "Year": year,
    "Fatality Rate": m_fatality_rate})

df2_military = df2_military.dropna(subset=['Year', 'Fatality Rate'])
df2_military

In [ ]:
military_chart = df2_military.plot(kind="line")
plt.show()

In [ ]:
df_crash = df1[df1["Summary"].str.contains("CRASHED", "CRASH")]

In [ ]:
df_commercial = df1[df1["Operator"].str.contains("MILITARY") == False]
df_commercial.head(10)

In [ ]:
c_fatalities_count = df_commercial.groupby(["Year"])['Fatalities'].sum()
c_fatalities_count.head(15)

In [ ]:
c_totals_count = df_commercial.groupby(["Year"])['Aboard'].sum()
c_totals_count.head(15)

In [ ]:
c_fatality_rate = fatalities_count / totals_count
c_fatality_rate.head(15)

In [ ]:
df2_commercial = pd.DataFrame({
    "Fatalities": c_fatalities_count,
    "Total Passengers": c_totals_count,
    "Fatality Rate": c_fatality_rate})

df2_commercial.head(15)

In [ ]:
df2_commercial = pd.DataFrame({

    "Fatality Rate": c_fatality_rate})

df2_commercial.head(15)

In [ ]:
commercial_chart = df2_commercial.plot(kind = "line")
plt.show()

In [20]:
commercial_aboard = df_commercial["Aboard"].sum()
commercial_aboard

NameError: name 'df_commercial' is not defined

In [21]:
commercial_fatalities = df_commercial["Fatalities"].sum()
commercial_fatalities

NameError: name 'df_commercial' is not defined

In [22]:
military_fatalities/military_aboard

NameError: name 'military_fatalities' is not defined

In [23]:
commercial_fatalities/commercial_aboard

NameError: name 'commercial_fatalities' is not defined

In [24]:
df_commercial["Result"] = df_commercial["Fatalities"] / df_commercial["Aboard"]
df_commercial

NameError: name 'df_commercial' is not defined

In [25]:
df_commercial.plot(x="Date", y="Result")
plt.ylabel("Fatality Rate")

NameError: name 'df_commercial' is not defined

In [26]:
df_military["Fatality Rate"] = df_military["Fatalities"] / df_military["Aboard"]
df_military

C:\Users\ericl\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Year,Operator,Aboard,Fatalities,Summary,Fatality Rate
0,1908,MILITARY - U.S. ARMY,2.0,1.0,"DURING A DEMONSTRATION FLIGHT, A U.S. ARMY FLY...",0.500000
1,1912,MILITARY - U.S. NAVY,5.0,5.0,FIRST U.S. DIRIGIBLE AKRON EXPLODED JUST OFFSH...,1.000000
3,1913,MILITARY - GERMAN NAVY,20.0,14.0,THE AIRSHIP FLEW INTO A THUNDERSTORM AND ENCOU...,0.700000
4,1913,MILITARY - GERMAN NAVY,30.0,30.0,HYDROGEN GAS WHICH WAS BEING VENTED WAS SUCKED...,1.000000
5,1915,MILITARY - GERMAN NAVY,41.0,21.0,CRASHED INTO TREES WHILE ATTEMPTING TO LAND AF...,0.512195
6,1915,MILITARY - GERMAN NAVY,19.0,19.0,"EXPLODED AND BURNED NEAR NEUWERK ISLAND, WHEN...",1.000000
7,1916,MILITARY - GERMAN ARMY,20.0,20.0,"CRASHED NEAR THE BLACK SEA, CAUSE UNKNOWN.",1.000000
8,1916,MILITARY - GERMAN NAVY,22.0,22.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING IN FLAMES.,1.000000
9,1916,MILITARY - GERMAN NAVY,19.0,19.0,SHOT DOWN IN FLAMES BY THE BRITISH 39TH HOME D...,1.000000
10,1916,MILITARY - GERMAN ARMY,28.0,27.0,CRASHED IN A STORM.,0.964286
11,1916,MILITARY - GERMAN NAVY,20.0,20.0,SHOT DOWN BY BRITISH ANTI-AIRCRAFT FIRE AND AI...,1.000000
12,1917,MILITARY - GERMAN ARMY,20.0,20.0,CAUGHT FIRE AND CRASHED.,1.000000
13,1917,MILITARY - GERMAN NAVY,23.0,23.0,STRUCK BY LIGHTNING AND CRASHED INTO THE BALTI...,1.000000
14,1917,MILITARY - GERMAN NAVY,21.0,21.0,"CRASHED INTO THE SEA FROM AN ALTITUDE OF 3,000...",1.000000
15,1917,MILITARY - GERMAN NAVY,24.0,24.0,SHOT DOWN BY BRITISH AIRCRAFT.,1.000000
16,1917,MILITARY - GERMAN NAVY,18.0,18.0,SHOT DOWN BY BRITISH AIRCRAFT.,1.000000
17,1917,MILITARY - GERMAN NAVY,18.0,18.0,SHOT DOWN BY FRENCH ANTI-AIRCRAFT FIRE.,1.000000
18,1918,MILITARY - GERMAN NAVY,23.0,23.0,EXPLODED AND CRASHED INTO THE SEA OFF THE SOUT...,1.000000
19,1918,MILITARY - GERMAN NAVY,22.0,22.0,SHOT DOWN BY BRITISH AIRCRAFT CRASHING FROM A ...,1.000000
20,1918,MILITARY - GERMAN NAVY,19.0,19.0,SHOT DOWN BY BRITISH AIRCRAFT.,1.000000
55,1921,MILITARY - ROYAL AIRSHIP WORKS,46.0,46.0,CRASHED DUE TO STRUCTURAL FAILURE FOLLOWED BY ...,1.000000
59,1922,MILITARY - U.S. ARMY AIR SERVICE,45.0,34.0,CRASHED FROM A HEIGHT OF 500 FT. AFTER EXPERIE...,0.755556
80,1923,MILITARY - FRENCH NAVY,52.0,52.0,"CRASHED WHILE ON A FLIGHT FROM TOULON, FRANCE ...",1.000000
96,1925,MILITARY - U.S. NAVY,43.0,14.0,THE SHENANDOAH WAS FLYING OVER SOUTHERN OHIO W...,0.325581
176,1929,MADDUX AIRLINES / MILITARY - U.S.ARMY AIR FORCE,6.0,6.0,A MIDAIR COLLISION OCCURRED WITH A US AIR FOR...,1.000000
221,1930,MILITARY - BRITISH AIR MINISTRY,54.0,48.0,THE AIRSHIP WAS ON ITS INAUGURAL FLIGHT FROM C...,0.888889
299,1933,MILITARY - U.S. NAVY,76.0,73.0,"WHILE CRUISING AT 1,600 FEET OFF NEW JERSEY, S...",0.960526
457,1938,MILITARY - U.S. NAVY / MILITARY - U.S. NAVY,14.0,11.0,THE TWO AIRCRAFT CRASHED IN MID-AIR IN HEAVY R...,0.785714
478,1938,MILITARY - COLOMBIAN ARMY,1.0,1.0,ONE AIRCRAFT FROM A SQUADRON PERFORMING AEROBA...,1.000000
518,1939,MILITARY - ECUADORIAN AIR FORCE,1.0,1.0,"WHILE PERFORMING AEROBATICS, THE AIRCRAFT LOST...",1.000000
...,...,...,...,...,...,...
5053,2005,MILITARY - ZAMBIA AIR FORCE,13.0,13.0,THE PLANE WAS ON ITS ROUTINE OPERATIONS OF DEL...,1.000000
5073,2005,MILITARY - ISLAMIREPUBLIOF IRAN AIR FORCE,94.0,94.0,THE MILITARY PLANE CRASHED INTO AN APARTMENT B...,1.000000
5082,2006,MILITARY - IRANIAN REVOLUTIONARY GUARD CORPS A...,11.0,11.0,AFTER A FLYBY TO CHECK ON A STUCK LANDING GEAR...,1.000000
5083,2006,MILITARY - SLOVAK AIR FORCE,43.0,42.0,A PLANE CARRYING PEACEKEEPING SOLDIERS CRASHED...,0.976744
5088,2006,MILITARY - FUERZA AREA ARGENTINA,6.0,6.0,"WHILE EN ROUTE, THE PLANE, DELIVERING HUMANITA...",1.000000
5092,2006,MILITARY - KENYA AIR FORCE,17.0,14.0,WHILE ON APPROACH THE AIRPLANE FLEW INTO THE S...,0.823529
5093,2006,MILITARY - LYBIAN ARAB AIR FORCE,6.0,6.0,"UPON ARRIVAL OF THE CARGO FLIGHT, THE CREW IND...",1.000000
5101,2006,MILITARY - CHINESE AIR FORCE,40.0,40.0,WITNESSES SAID THEY HEARD AN EXPLOSION AND WHE...,1.000000
5103,2006,MILITARY - CHADIAN AIR FORCE,7.0,5.0,THE MILITARY PLANE CRASHED INTO TREES PAST THE...,0.714286
5117,2006,MILITARY - ROYAL AIR FORCE,14.0,14.0,THE NATO SUPPORTING AIRCRAFT CRASHED 12 MILES ...,1.000000
5118,2006,MILITARY - RUSSIAN ARMY,15.0,12.0,ELEVEN HIGH RANKING OFFICERS WERE KILLED WHEN ...,0.800000
5119,2006,MILITARY - NIGERIAN AIR FORCE,18.0,13.0,THE MILITARY PLANE CRASHED EN ROUTE LESS THAN ...,0.722222
5122,2006,MILITARY - RUSSIAN AIR FORCE/UZBEKISTAN AIRWAYS,15.0,15.0,THE PLANE BELONGING TO UZBEKISTAN AIRWAYS AND ...,1.000000
5124,2006,MILITARY - IRANIAN REVOLUTIONARY GUARD CORPS A...,38.0,38.0,THE AIRCRAFT CRASHED AFTER LOSING THE RIGHT EN...,1.000000
5133,2007,MILITARY - US ARMY,12.0,12.0,THE HELICOPTER CRASHED NORTHEAST OF BAGHDAD.,1.000000
5144,2007,MILITARY - RUSSIAN,18.0,18.0,THE HELICOPTER WAS CARRYING OUT A MISSIION WIT...,1.000000
5146,2007,MILITARY - FRENCH AIR FORCE,9.0,9.0,COLLIDED WITH A TRUCK WHILE ATTEMPTING TO MAKE...,1.000000
5148,2007,MILITARY - PERUVIAN AIR FORCE,20.0,13.0,CRASHED INTO DENSE JUNGLE SHORTLY AFTER TAKING...,0.650000
5166,2007,MILITARY - U.S. ARMY,14.0,14.0,CRASHED MOST LIKELY DUE TO A MECHANICAL PROBLE...,1.000000
5170,2008,MILITARY - MACEDONIAN AIR FORCE,11.0,11.0,THE HELICOPTER CRASHED 15 MILES SOUTHEAST OF S...,1.000000
5188,2008,MILITARY - POLISH AIR FORCE,20.0,20.0,"WHILE ATTEMPTING TO LAND, THE PLANE FELL TO TH...",1.000000
5198,2008,MILITARY - GOVERNMENT OF EQUATORIAL GUINEA,13.0,13.0,CRASHED INTO THE OCEAN AFTER SKIDDING OFF THE ...,1.000000
5205,2008,MILITARY - SERVICIO AEREO NACIONAL,12.0,11.0,CHILE'S NATIONAL POLICE CHIEF GENERAL JOSE ALE...,0.916667
5211,2008,MILITARY - THAI ARMY,10.0,10.0,THE MILITARY HELICOPTER DEVELOPED A MECHANICAL...,1.000000
5212,2008,MILITARY - INDONESIAN AIR FORCE,18.0,18.0,THE PLANE WENT MISSING IN AN AREA APPROXIMATEL...,1.000000
5222,2008,MILITARY - ROYAL THAI AIR FORCE,10.0,10.0,THE HELICOPTER CRASHED WHILE FERRYING A FORENS...,1.000000
5257,2009,MILITARY - INDONESIAN AIR FORCE,24.0,24.0,WHILE RETURNING FROM A MILITARY TRAINING EXERC...,1.000000
5262,2009,MILITARY - VENEZUELAN ARMY,18.0,18.0,THE HELICOPTER WAS PATROLLING ALONG THE VENEZU...,1.000000
5263,2009,MILITARY - INDONESIAN AIR FORCE,112.0,98.0,"WHILE ON APPROACH, THE MILITARY TRANSPORT CRAS...",0.875000
5267,2009,MILITARY - INDIAN AIR FORCE,13.0,13.0,THE MILITARY TRANSPORT WENT MISSING WHILE EN R...,1.000000

In [27]:
df_military.plot(x="Date", y="Fatality Rate")

KeyError: 'Date'

In [ ]:
df_military["Result"] = df_military["Aboard"] - df_military["Fatalities"] 
df_military

In [ ]:
df_military.plot(x="Date", y="Result")